<h1>Create Page</h1>

<input type="text" name="image" ng-model="addAccessories.image" placeholder="image" val="">
<input type="text" name="title" ng-model="addAccessories.title" placeholder="title" val="">
<input type="text" name="price" ng-model="addAccessories.price" placeholder="price" val="">
<input type="text" name="description" ng-model="addAccessories.description" placeholder="description" val="">

<button type="button" class="button" ng-click="equipment(addAccessories)" name="button">Add Accessory</button>
<button type="button" class="button" name="button"><a href="#/admin">Back</a></button>
